<header>
  <nav class="main-menu menu-fixed">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="/static/images/ccislogo.png" alt="logo" class="img-responsive" style="height: 50px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
    <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="/">主页</a></li>
        <li><a class="page-scroll" href="/">公告</a></li>
        <li><a class="page-scroll" href="/">社团领导人员</a></li>
        <li><a class="page-scroll" href="/">社团培训</a></li>
        <li><a class="page-scroll" href="/register">加入我们</a></li>
	  {% if username %}
	  <li><a class="page-scroll" href="/home/">{{ username }}</a></li>
	  {% else %}
          <li><a class="page-scroll" href="/login/">登陆</a></li>
		{% endif %}
    </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
  </nav>
</header>